@import "tailwindcss";

@theme inline {
  --color-secondary-dim: #465468;
  --color-on-surface: #2a3439;
  --color-surface-container-lowest: #ffffff;
  --color-inverse-on-surface: #9a9d9f;
  --color-error: #9f403d;
  --color-error-dim: #4e0309;
  --color-on-tertiary-fixed-variant: #59526e;
  --color-tertiary: #625b77;
  --color-surface-container-high: #e1e9ee;
  --color-surface-variant: #d9e4ea;
  --color-surface-tint: #0053db;
  --color-surface: #f7f9fb;
  --color-primary: #0053db;
  --color-on-primary: #f8f7ff;
  --color-on-primary-fixed: #003798;
  --color-on-surface-variant: #566166;
  --color-on-background: #2a3439;
  --color-on-tertiary-container: #4f4964;
  --color-tertiary-container: #dfd5f7;
  --color-primary-container: #dbe1ff;
  --color-primary-dim: #0048c1;
  --color-on-error-container: #752121;
  --color-surface-container-highest: #d9e4ea;
  --color-outline-variant: #a9b4b9;
  --color-primary-fixed-dim: #c7d3ff;
  --color-background: #f7f9fb;
  --color-secondary-container: #d5e3fc;
  --color-inverse-surface: #0b0f10;
  --color-on-tertiary-fixed: #3c3650;
  --color-tertiary-fixed: #dfd5f7;
  --color-outline: #717c82;
  --color-error-container: #fe8983;
  --color-secondary-fixed: #d5e3fc;
  --color-on-secondary-fixed-variant: #4e5c71;
  --color-surface-dim: #cfdce3;
  --color-surface-bright: #f7f9fb;
  --color-on-secondary: #f8f8ff;
  --color-on-tertiary: #fdf7ff;
  --color-surface-container: #e8eff3;
  --color-surface-container-low: #f0f4f7;
  --color-inverse-primary: #618bff;
  --color-on-secondary-fixed: #324053;
  --color-secondary: #526074;
  --color-on-primary-container: #0048bf;
  --color-tertiary-dim: #564f6b;
  --color-on-secondary-container: #455367;
  --color-on-primary-fixed-variant: #0050d4;
  --color-tertiary-fixed-dim: #d0c7e8;
  --color-secondary-fixed-dim: #c7d5ed;
  --color-on-error: #fff7f6;
  --color-primary-fixed: #dbe1ff;

  --font-headline: "Manrope", ui-sans-serif, system-ui;
  --font-body: "Inter", ui-sans-serif, system-ui;
  --font-label: "Inter", ui-sans-serif, system-ui;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}